body {
    background: #ccc;
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}

#title, .subtitle, .post_title {
    color: black;
}

#title {
    font-size: 35px;
    font-style: italic;
    text-transform: capitalize;
}

a {
    text-decoration: line-through;
    color: #505050;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 15px;
    border:3px solid #000;
    margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.post_image {
    margin-bottom: 15px;
    width: 100%;        
}

.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}

.contacts_list li a {
    text-decoration: none;
}

.title_image {
    margin-left: 250px;
    border: #000 solid 3px;
    border-radius: 100px 50px 100px 50px;
}